@mixin uthsc-badge-box {
  .uthsc-badge-box {
    .uthsc-badge-box-icon {
      width: 8em;
      height: 8em;
      margin: 0 auto 2em auto;
      position: relative;
      display:flex;
      align-items: center;
      justify-content: center;

      svg {
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        fill: #fff;
        opacity: .3;
        right:0;
      }

      span.fa {
        margin: 0 auto;
      }
    }
    .uthsc-badge-box-text {
      max-width: 250px;
      margin: 0 auto;
    }
  }
}