/* flex mixins */
@mixin uthsc-vertical-center {
  display: flex;
  align-items: center;
}

@mixin uthsc-horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin uthsc-horizontal-spaced {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

@mixin uthsc-horizontal-justify {
  display: flex;
  justify-content: space-between;
}

@mixin uthsc-global {

  .uthsc-row-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: .5rem;
    margin-bottom: 1rem;
  }

  /* Add padding to floated images */
  .left img, figure.left {
    margin-right: 1em;
    float: left;
  }

  .right img, figure.right {
    margin-left: 1em;
    float: right;
  }
  figure.right img {
    margin: 0;
  }
  .image-40 {
    width: 40%;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a, strong, b {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    & strong, b, em, i {
      font-weight: 400;
      font-style: normal;
    }
  }

  figure {
    border: 1px solid #bababa;
    border-radius: 0 0 3px 3px;
    border-radius: 3px;
    overflow: hidden;
    margin: 0;
    max-width: 302px;
    max-height: 302px;
    figcaption {
      padding: 5px;
      font-size: 0.85em;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      a {
        font-weight: 700;
      }
    }
  }

  //search form margins
  .search-form {
    margin-bottom: 0;
  }
  .uthsc-banner .search-form {
    margin-bottom: 1em;
  }

  //add gross background color to table headings
  table thead {
    background: #ced084;
  }

  //add additional styles to blockquote
  //that aren't defined in settings
  blockquote {
    font-size: 1.2em;
    font-style: italic;
  }

  //add background to active accordion title
  .accordion-item.is-active .accordion-title {
    background-color: #e6e6e6;
  }

  table {
    border-spacing: 0;
  }
}
