@mixin uthsc-badge-box {
  .uthsc-badge-box {
    .uthsc-badge-box-icon {

      width: 100px;
      height: 100px;
      border-radius: 600px;
      margin: 0 auto 2em auto;
      position: relative;
      //if circle
      //background: orange;

      svg {
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        fill: #fff;
        opacity: .3;
        right:0;
      }

      span.fa {
        position:relative;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        //if circle
        //font-size: 4em;
      }
    }
  }
}