@mixin list-styles {
  ul:not(.tabs, .accordion, .vertical.menu) {
    list-style: none;
    left: 0;
    margin-left: 0;
    text-indent: -.7em;

    & > li, & > ul li {
      line-height: 1.3em;
      padding: .3em;
      margin-left: .4em;
      left: 0;

      &:before {
        content: "\203A \0020";
        list-style: none;
        font-size: 1.2em;
      }
    }

    ol {
      text-indent: initial;
    }
  }

  ol ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

@mixin uthsc-list-styles() {
  .main-content, .uthsc-content-footer {
    @include list-styles;
  }
}
